.container{
	background-color: black;
	margin: 50px;
}
.title{
	color: white;
	display: flex;
	flex-wrap: wrap;
}
.Akordeon{
	font-size: 40px;
	display: flex;
	margin-left: 40px;
}

#ako{
	font-family: Brush Script MT;
	font-size: 70px;
	margin: 0;
	padding: 20px;
}
#PSD{
	font-family: Brush Script MT;
	font-size: 30px;
	color: palegreen;
	margin-top: 52px;
}


.stylo{
	width: 100%;
	font-size: 25px;
	padding-left: 70px;
}
.stylo p{
	font-family: Geneva;
	margin-top: 0;
	font-style: italic;
}
.panel{
	display: flex;
	background-image: linear-gradient(dimgray, black);
	color: white;
	font-size: 20px;
	flex-wrap: wrap;
}
.plus{
	font-size: 30px;
	margin-right: 15px;
	margin : 25px;
}
.minus{
	font-size: 30px;
	margin-right: 15px;
	margin:  25px;
}
.hide{
	display: none;
}
.text{
	margin : 25px;
}
.add{
	padding: 20px 50px;
	background-image: linear-gradient(dimgray, black);
	color: white;
	font-size: 20px;
	width: 100%;
}